/********** Template CSS **********/
:root {
    --primary: orange;
    --secondary: #001064;
    --light: #F6F7F8;
    --dark: #010A35;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border;
}

ul {
    padding: 0;
    margin: 0;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover,
.btn.btn-secondary,
.btn.btn-outline-secondary:hover {
    color: #FFFFFF;
}

.btn.btn-primary:hover {
    background: var(--secondary);
    border-color: var(--secondary);
}

.btn.btn-secondary:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/


.navbar .navbar-brand img {
    max-height: 60px;
}

.navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 10px 0;
    color: #696E77;
    font-weight: 400;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-brand img {
        max-height: 45px;
    }

    .navbar .navbar-nav {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .navbar .nav-item .dropdown-menu {
        padding-left: 30px;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(1, 10, 53, .8);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--dark);
    border: 12px solid var(--dark);
    border-radius: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background: linear-gradient(rgba(1, 10, 53, .8), rgba(1, 10, 53, .8)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item a,
.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.page-header .breadcrumb-item a:hover,
.page-header .breadcrumb-item.active {
    color: var(--primary);
}


/*** Facts ***/
.facts {
    background: rgba(1, 10, 53, .8);
}


/*** Quote ***/
@media (min-width: 992px) {
    .container.quote {
        max-width: 100% !important;
    }

    .container.quote .quote-text {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }

    .container.quote .quote-form {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .container.quote .quote-text {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }

    .container.quote .quote-form {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .container.quote .quote-text {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }

    .container.quote .quote-form {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}

.container.quote .quote-text {
    background: rgba(1, 10, 53, .8);
}

.container.quote .quote-form {
    background: rgba(255, 255, 255, .8);
}

.container.quote .quote-text .h-100,
.container.quote .quote-form .h-100 {
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*** Service ***/
.service-item .service-icon {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-item .service-icon img {
    max-width: 60px;
    max-height: 60px;
}


/*** Team ***/
.team-item .team-img::before,
.team-item .team-img::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(1, 10, 53, .8);
    transition: .5s;
}

.team-item .team-img::after {
    left: auto;
    right: 0;
}

.team-item:hover .team-img::before,
.team-item:hover .team-img::after {
    width: 50%;
}

.team-item .team-img .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 3;
    opacity: 0;
}

.team-item:hover .team-img .team-social {
    transition-delay: .3s;
    opacity: 1;
}


/*** Testimonial ***/
.animated.pulse {
    animation-duration: 1.5s;
}

.testimonial-left,
.testimonial-right {
    position: relative;
}

.testimonial-left img,
.testimonial-right img {
    position: absolute;
    border-radius: 70px;
}

.testimonial-left img:nth-child(1),
.testimonial-right img:nth-child(3) {
    width: 70px;
    height: 70px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-left img:nth-child(2),
.testimonial-right img:nth-child(2) {
    width: 60px;
    height: 60px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.testimonial-left img:nth-child(3),
.testimonial-right img:nth-child(1) {
    width: 50px;
    height: 50px;
    bottom: 10%;
    right: 10%;
}

/* .testimonial-carousel .owl-item img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
} */

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--secondary);
}


/*** Footer ***/
.footer {
    color: #7F8499;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #7F8499;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #7F8499;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .btn.btn-square {
    color: #7F8499;
    border: 1px solid #7F8499;
}

.footer .btn.btn-square:hover {
    color: var(--light);
    border-color: var(--primary);
}

.footer .copyright {
    padding: 25px 0;
    border-top: 1px solid rgba(128, 128, 128, 0.616);
}

.footer .copyright a {
    color: var(--primary);
}









/* ---add__custom__css---- */


.header__menu {
    padding: 0 0 20px 0;
    padding-bottom: 0;
    border-bottom: 1px solid #7e7e7e17;

}

.header__menu.header__menu__box-shadow {
    box-shadow: 3px 10px 18px 3px #80808033;
}

.header__menu__inner {
    max-width: 1320px;
    margin: 0 auto;

}

@media(max-width:1420px) {
    .header__menu__inner {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 50px;
    }
}

@media(max-width:1023px) {
    .header__menu__inner {

        padding: 0 40px;
    }
}

@media (max-width: 425px) {
    .header__menu__inner {
        padding: 0 20px;
    }
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    padding: 15px 0;
}

header .menu>ul {
    display: none;
}

header .header__btn {
    display: none;
}

@media (min-width:1024px) {
    header .menu>ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    header .header__btn {
        display: flex;
    }
}



header .menu>ul>li>a {
    padding: 20px;
    color: var(--bs-light);
}

.logo {
    z-index: 2;
    margin-top: -58px;
}

.logo img {
    width: 150px;
    height: 50px;
}

@media (min-width:425px) {
    .logo img {
        width: 220px;
        height: 60px;
    }
}

header .header__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 0.5px solid gray;
    display: none;
    padding: 20px 0;
}

.header__dropdown__inner {
    padding: 10px 0;
}

.header__des {
    position: relative;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.header__des::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--primary);
}

@media(max-width:1024px) {
    .header__des {

        font-size: 16px;
        margin-top: 20px;
    }

    .header__des::before {

        width: 50%;

    }

}

header .header__dropdown ul {
    margin-top: 20px;
}

header .header__dropdown ul li {
    list-style: none;
    margin-bottom: 10px;
}

header .header__dropdown ul li a {
    display: block;
    text-decoration: none;
    color: var(--dark);
}



.toggle__bar {
    display: none;
}

.fa-bars-staggered {
    color: var(--dark);
    font-size: 30px;
    z-index: 10000;
}

.fa-xmark {
    transition: all 0.3s linear;
    transform: rotate(180deg);
}

@media(max-width:1023px) {
    .toggle__bar {
        display: initial;
    }
}

.drop__icon {
    position: relative;
}

.drop__icon::after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    vertical-align: middle;
    font-weight: 600;
    font-size: 12px;
    padding-left: 5px;
}

/* .header__btn a {
    padding: 10px 25px;

    display: block;
    border-radius: 10px;
    transition: all 0.3s ease;
} */

/* .header__btn .login__btn {
    background: var(--primary);
    color: var(--light);
} */

/* .header__btn .login__btn:hover {
    background: none;
    border: 0.5px solid var(--primary);
    color: var(--primary);
} */

/* .header__btn .register__btn {
    border: 0.5px solid var(--primary);
    margin-left: 20px;
} */

/* .header__btn .register__btn:hover {
    border: none;
    background: var(--primary);
    color: var(--light);
} */


.moblie__menu {
    display: none;
}

@media (max-width:1024px) {
    .moblie__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 500px;
        background: var(--light);
        z-index: 1000;
        height: 100%;
        padding: 40px;
        padding-top: 180px;
        display: block;
        transition: all 0.3s linear;
    }

    .moblie__menu.moblie__menu__show {
        right: 0;
    }

    .moblie__menu ul {
        list-style: none;
    }

    .moblie__menu>ul>li {
        padding-bottom: 20px;
    }

    .moblie__menu>ul>li>a {
        color: var(--dark);
        display: block;
        font-size: 18px;
        font-weight: 600;
        position: relative;
    }

    .moblie__menu>ul>li .moblie__menu__icon {
        position: relative;
    }

    .moblie__menu>ul>li .moblie__menu__icon::after {
        position: absolute;
        right: 0;
        font-family: "Font Awesome 5 Free";
        content: "\f078";
        vertical-align: middle;
        font-weight: 600;
        font-size: 12px;
        padding-left: 5px;
    }

    .mobile__dropdown__menu {
        display: none;
    }

    .mobile__dropdown__menu__box ul li a {
        color: var(--dark);
    }
}

@media (max-width: 425px) {
    .moblie__menu {
        padding: 20px;
        padding-top: 100px;
    }
}

.th-btn {

    position: relative;
    z-index: 2;
    overflow: hidden;

    border: none;
    text-transform: uppercase;
    text-align: center;
    background: #38548b;
    color: #fff;

    font-size: 14px;
    font-weight: 700;
    padding: 12.5px 25px;
    border-radius: 5px;
    transition: all 0.4s ease-out;

}

.th-btn i {
    margin-left: 5px;
}

.th-btn:hover {
    color: #fff;
}

.th-btn::before {
    left: 0;
    border-radius: 0 20px 20px 0;
}

.th-btn::before,
.th-btn::after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    width: 0%;
    background: #000;
    z-index: -1;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.th-btn::after {
    right: 0;
    border-radius: 20px 0 0 20px;
}

.th-btn:hover::before {
    width: 50%;
    border-radius: 0;
}

.th-btn:hover::after {
    width: 50%;
    border-radius: 0;
}

.btn-style2 {
    background: transparent;
    border: 1.5px solid #38548b;
    margin-left: 10px;
}

.btn-style2:hover {
    color: #fff;
    z-index: 1000;
}

.btn-style2::before,
.btn-style2::after {

    background: #38548b;

}

.btn-style3 {
    width: 200px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-style2.btn-style-color {
    color: #38548b;
}

.header__menu .top__header {
    min-height: 20px;
    padding: 18px 0px;
    background: #0b113a;
    z-index: -10;
}

.header__menu .top__header__icons__outer {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header__menu .top__header__icons__outer a {
    color: #fff;
    font-size: 15px;
}

.header__menu .phone {
    margin-right: 20px;

}

.header__menu .top__header__icons .fa-solid {
    margin-right: 5px;
}

.header__menu .position__relative::before {
    position: absolute;
    content: '';
    background: #fff;
    left: -290px;
    top: 0;
    bottom: 0;
    width: 50%;
    clip-path: polygon(0% 0%, 100% 0, 95% 51%, 100% 100%, 0% 100%);


}

.show___block.text__menu {
    color: #0b113a;
}

@media (max-width:1200px) {
    .header__menu .position__relative::before {
        width: 52%;
    }
}

@media (max-width:1024px) {
    .header__menu .position__relative::before {
        width: 60%;
    }
}

@media (max-width:1023px) {
    .header__menu .position__relative::before {
        position: absolute;
        content: '';
        background: #fff;
        left: -290px;
        top: 0;
        bottom: 0;
        width: 50%;
        clip-path: polygon(0% 0%, 100% 0, 95% 51%, 100% 100%, 0% 100%);
        display: none;

    }

    .header__menu__inner {
        background: #fff;
    }

    .header__menu .logo {
        margin-top: initial;
    }
}

@media (max-width:768px) {
    .header__menu .top__header {
        min-height: 20px;
        padding: 18px 0px;
        background: #0b113a;
        z-index: -10;
        display: none;
    }
}

/* ---common__img__css--- */
.common__img {
    background: #fff;
}

.common__img .common__img__left {
    background-image: linear-gradient(to right, #fff, #ffffff0d), url(../img/common__img.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    min-height: 150px;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0%, 94% 100%, 0% 100%);

}

.common__img .content {
    position: absolute;
    right: 200px;
    max-width: 400px;
}

.common__img .common__img__right {
    position: relative;
}

.common__img .common__img__left::after {
    position: absolute;
    content: '';
    right: -35px;
    background: #ffffffb0;
    width: 120px;
    height: 120px;
    clip-path: polygon(41% 0, 100% 0%, 100% 100%, 8% 100%);
}

.common__img .common__img__right__left {
    margin-left: 100px;
    width: 100%;
    max-width: 300px;
    height: 70px;
}

@media(max-width:1024px) {
    .common__img .common__img__right__left {
        margin-left: 30px;
    }
}

@media(max-width:768px) {
    .common__img .common__img__left {
        clip-path: initial;
    }

    .common__img .common__img__left::after {
        display: none;
    }
}

@media(max-width:1268px) {
    .common__img .content {
        position: static;
        max-width: 100%;
        padding: 40px;
    }
}

@media(max-width:425px) {
    .common__img .common__img__right__left {
        margin-left: 0;
    }

    .common__img .common__img__right__left {

        width: 100%;
        max-width: 251px;
        height: 70px;
    }

}

/* ---header__section--- */

.header__section {

    background-size: cover;
    background-repeat: no-repeat;
    min-height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header__section .header__inner {
    padding-top: 100px;
}

.header__section h1,
.header__section p {
    color: #fff;
}

/* ---second__navbar--- */
.second__navbar {
    border-bottom: 1px solid #2d365730;
    display: none;

}

.second__navbar ul {
    list-style: none;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second__navbar ul li {
    width: 20%;
    display: block;
    text-align: center;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
}

.second__navbar ul li a {
    color: #000f39;
    font-size: 18px;
}

.second__navbar ul li a img {
    width: 50px;
    width: 50px;
    margin-right: 20px;
    filter: brightness(1%);
}

.second__navbar ul li:hover {
    background-image: linear-gradient(to right, #000f39, #000f3999);

}

.second__navbar ul li:hover img {
    filter: none;
}

.second__navbar ul li:hover a {
    color: #fff;
}

.second__navbar .second__navbar__active {
    background-image: linear-gradient(to right, #000f39, #000f3999);
    position: relative;
    overflow: hidden;
}

.second__navbar .second__navbar__active::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    bottom: -12px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(316deg);
}

.second__navbar ul li:hover ::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    bottom: -12px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(316deg);
}

.second__navbar .second__navbar__active .second__menu__active {
    color: #fff;
}

.second__navbar .second__navbar__active .second__image__active {
    filter: initial;
}

@media (min-width:1024px) {
    .second__navbar {
        display: block;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
    }
}

/* ---markets__about__all--- */
.markets__about__all .markets__about__all__left {

    position: relative;
    display: block;
    min-height: 760px;

}

.markets__about__all .market__about__left__img {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.markets__about__all .market__about__right {
    background-image: linear-gradient(to right, #020e28e8, #020e28f5);
    min-height: 760px;
}

.markets__about__all .markets__about__all .row>* {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.markets__about__all .market__about__right h1 {
    color: #fff;
    margin-bottom: 20px;
}

.markets__about__all .market__about__right {
    padding: 150px 0 0 200px;

}

.markets__about__all .market__about__right__point .market__point__inner {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.markets__about__all .market__about__right__point .market__point__inner .circle {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(to right, #ff8748, #fe7852 13%, #fc5454 50%, #ff3c56 81%, #fb2a30);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.markets__about__all .market__about__right__point .market__point__inner .circle i {
    font-size: 16px;
    color: #fff;
}

.markets__about__all .market__about__right__inner {
    max-width: 700px;
}

.markets__about__all .market__inner1 h4 {
    color: #fff;
    margin: 40px 0 30px 0;
}

.markets__about__all .market__about__right__point h4 {
    color: #fff;
    margin: 40px 0 30px 0;
}

.markets__about__all .market__outer {
    position: relative;
}




.markets__about__all .market__inner {
    position: absolute;
    max-width: 430px;
    top: 100px;
    right: -100px;
    background: #fff;
    padding: 30px;
}

.markets__about__all .market__inner1 {

    background: #fff;
    padding: 30px;
}

.markets__about__all .market__inner__circle {
    width: 100%;
    padding: 20px;

}

.markets__about__all .market__inner__circle span {
    width: 80px;
    height: 80px;
    background-image: linear-gradient(to right, #020e28e8, #020e28f5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.markets__about__all .market__inner__circle span img {
    width: 40px;
    height: 40px;
}



.markets__about__all .center_div {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.markets__about__all .center_div h6 {
    margin-top: 20px;
}

.markets__about__all .market__inner__circle h4 {
    color: #000f39;
}

.markets__about__all .market__about__right {
    padding: 150px 30px 80px 200px;
    ;
}

@media(max-width:1440px) {
    .markets__about__all .market__about__right {
        padding: 150px 0 0 150px;
    }
}

@media(max-width:1200px) {
    .markets__about__all .market__about__right {
        padding: 150px 0 0 120px;
    }

    .markets__about__all .market__inner {
        position: absolute;
        max-width: 430px;
        top: 100px;
        left: 0;
        right: 0;
        margin: 0 auto;

        background: #fff;
        padding: 30px;
    }

    .markets__about__all .market__about__right {
        padding: 150px 0 0 30px;
    }
}

@media (max-width: 768px) {
    .markets__about__all .market__inner {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .markets__about__all .market__about__right {
        padding: 120px 30px 80px 30px;
    }

    .markets__about__all .market__inner1 h4 {

        margin: 40px 0 30px 0;
        margin-bottom: 20px;
    }
}

.markets__about__all .row>* {
    padding-right: 0 !important;
    padding-left: 0 !important;
}


@media (max-width: 592px) {
    .markets__about__all .market__about__right__point .market__point__inner {
        flex-wrap: wrap;
    }

    .markets__about__all .market__about__right__point .market__point__inner .circle {
        margin-right: initial;
        margin-bottom: 10px;
    }

    .markets__about__all .market__inner__circle {
        width: 100%;
        padding: initial;
    }
}

/* ---markets__about--- */
.markets__about {
    position: relative;


}

.markets__about .markets__about__img {
    position: relative;
    display: block;
    min-height: 630px;
}


.markets__about .markets__about__img .img__right {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #646464;
    width: 100%;

    clip-path: polygon(24% 0, 100% 0, 100% 100%, 0% 100%);
}


.markets__about .markets__about__bg_img__inner.row>* {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.markets__about .markets__about__inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: flex;

    min-height: 630px;
    max-width: 1170px;
    margin: 0 auto;
    background: red;
}

.markets__about .markets__about__inner__row {
    display: flex;
}

.markets__about .markets__about__inner__col {
    width: 50%;
    background: #000;
    height: 100%;
}

.markets__about .markets__about__box {
    padding: 20px;

}



.markets__about .markets__about__box h5 {
    color: #fff;
}

.markets__about .markets__about__box img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.markets__about .markets__border_right {
    position: relative;
}

.markets__about .markets__border_right::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 90%;
    content: "";
    border-radius: 50%;
    background: #ffffff33;

}

.markets__about .markets__border_right::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 1px;
    content: "";
    border-radius: 50%;
    background: #ffffff33;
}

.markets__about .markets__border_top {
    position: relative;
}

.markets__about .markets__border_top::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 1px;
    content: "";
    border-radius: 50%;
    background: #ffffff33;
}

.markets__about .markets__border_top::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 90%;
    content: "";
    border-radius: 50%;
    background: #ffffff33;
}

.markets__about .img__right {
    padding: 100px 0 20px 130px;
}

.markets__about .markets__about__img__content {
    max-width: 400px;
    z-index: 1000;
    background: #ffff;
    min-height: 200px;
    padding: 50px;
    background: #fff;
}

.markets__about .markets__about__img__content h1 {
    color: #111d35;
}

.markets__about .markets__about__bg_img__inner {
    padding-left: 320px;
}

@media(max-width:1440px) {
    .markets__about .markets__about__bg_img__inner {
        padding-left: 60px;
    }
}

@media(max-width:1024px) {
    .markets__about .markets__about__bg_img__inner {
        padding-left: 25px;
    }

    .markets__about .markets__border_right::before {
        display: none;
    }

    .markets__about .markets__border_right::after {
        display: none;
    }

    .markets__about .markets__border_top::after {
        display: none;
    }

    .markets__about .markets__border_top::before {
        display: none;
    }
}

@media (max-width: 625px) {
    .markets__about .img__right {
        padding: 20px 20px 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .markets__about .markets__about__img__content {
        max-width: 100%;
        z-index: 1000;
        height: 100%;

    }

    .markets__about .markets__about__img .img__right {

        clip-path: initial;

    }
}

@media (max-width: 425px) {
    .markets__about .markets__about__img__content {
        padding: 20px;
    }
}

/* ---.common__markets__css--- */
.common__markets {
    background: #111d35;
}

.common__markets h1 {
    color: #fff;
}

.common__markets .common__markets__box {
    padding: 30px;
    background: #fff;
    position: relative;
    border-radius: 1.5rem;
    z-index: 100;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.common__markets .common__markets__box::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    background: #38548b;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;

    transform: rotate(-4deg);
    z-index: -2;
    transition: all 1s;
}

.common__markets .common__markets__box {
    padding: 20px;
    border: 1px solid #fff;
}

.common__markets .common__markets__box img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.common__markets .common__markets__box h5 {
    margin-bottom: 10px;
    color: #fff;
}

.common__markets .common__markets__box p {
    color: #d3cfcf;

}

/* ---step__trading--- */
.step_by_step .step-wrap {
    position: relative;
}

.step_by_step .step-wrap .progress-line {
    position: absolute;
    top: 45%;
    left: 0%;
    -webkit-transform: translate(calc(-50% + 887px), calc(-50% + 25px));
    -ms-transform: translate(calc(-50% + 887px), calc(-50% + 25px));
    transform: translate(calc(-50% + 887px), calc(-50% + 25px));
    margin: 0 -400px;
}


.step_by_step .process-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    min-width: 350px;
}

.step_by_step .process-item_icon {
    position: relative;
    min-width: 100px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-image: linear-gradient(to right, #020e28e8, #020e28f5);
    border-radius: 50%;
    text-align: center;
    -webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.04));
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.04));
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.step_by_step .process-item .box-number {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}

.step_by_step .process-item .box-title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.417;
    font-weight: 600;
    margin-top: -0.32em;
}

.step_by_step .process-item_text {
    line-height: 26px;
    margin-bottom: -0.3rem;
}

.step_by_step .process-item-wrap:nth-child(even) {
    margin-top: 165px;
}

.step_by_step .process-item-wrap:nth-child(3) {
    margin-left: -50px;
}

.step_by_step .process-item-wrap:nth-child(4) {
    margin-left: -50px;
}

.step_by_step {
    background: #f8f8f8;
}

@media (max-width: 1299px) {
    .step_by_step .step-wrap .progress-line {
        display: none;
    }

}

@media (max-width: 768px) {
    .step_by_step .step-wrap .progress-line {
        display: none;
    }

    .step_by_step .process-item-wrap:nth-child(even) {
        margin-top: initial;
    }

    .step_by_step .process-item-wrap:nth-child(3) {
        margin-left: initial;
    }

    .step_by_step .process-item-wrap:nth-child(4) {
        margin-left: initial;
    }

}

@media (max-width: 425px) {
    .step_by_step .process-item {
        display: flex;
        gap: 20px;
        min-width: 100%;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

}

@media (max-width: 1024px) {
    .markets__about__bg_img__inner {
        padding-left: 20px;
        padding-right: 20px;
        ;
    }
}

.step_by_step .process-item_icon img {
    width: 50px;
    height: 50px;
}

/* ---feature__icon--- */

.feature__icon {
    position: relative;
}

.feature__icon .feature__icon__content__outer {
    position: relative;
}

.feature__icon .inner__box {

    border: 0.5px solid #000f39;
    position: relative;


    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;

}

.feature__icon .inner__box::before {
    content: '';
    position: absolute;
    bottom: -41px;
    left: 50%;
    height: 40px;
    width: 0.5px;
    transform: translateX(-50%);
    background-color: #000f39;
    transition: all 0.25s ease;
}

.feature__icon .inner__box::after {
    content: '';
    position: absolute;
    bottom: -50px;
    left: 50%;
    height: 12px;
    border-radius: 50%;
    width: 12px;
    transform: translateX(-50%);
    background-color: #000f39;
}

.feature__icon img {
    position: relative;
    width: 50px;
    height: 50px;
    font-weight: 900;
    line-height: 64px;
    margin-bottom: 30px;
    transition: all 200ms linear;
    filter: brightness(0) invert(1);
}

.feature__icon h3 {
    color: #000f39;
}

.feature__icon p {
    color: #000f39;
}


/* ---deposite--- */
.deposite {
    background: url(../img/deposits-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.deposite h2 {
    color: #fff;
}

/* ---footer__css--- */

.footer {
    background: #080f2c;
    position: relative;
}

.footer::after {
    position: absolute;
    content: "";
    inset: 0;
    background-image: url(../img/why-bg-overlay.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.footer .img-footer {
    width: 220px;
    height: 60px;
}